*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: 
    
    repeating-linear-gradient(0deg, 
    transparent, 
    transparent 14px, 
    rgb(245, 245, 245) 14px,
    rgb(245, 245, 245) 15px), 
    repeating-linear-gradient(90deg, 
     transparent, 
     transparent 14px, 
    rgb(245, 245, 245) 14px,
    rgb(245, 245, 245) 15px),
    rgb(233, 233, 233);

    color:rgb(88, 88, 90);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chart-container {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tooltip {
    background-color: rgba(39, 24, 10, 0.75);
    color:white;
    font-size: 0.95rem;
    text-align: left;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 3px 5px 10px 2px rgba(39, 24, 10, 0.75);
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

#title, #description {
    color:rgb(69, 69, 71);
    text-align: center;
    font-size: 3rem;

    margin: 0.3em;
}

#description {
    font-size: 1.2rem;
}

.county:hover {
    fill: red;
}

.tick {
    font-size: 0.7rem;
}

#source {
    margin: 0.75rem;
    font-size: 0.95rem;
}

footer {
    margin-top: 2rem;
    font-size: 0.95rem;
}
